{{ "<!-- Publications -->" | safeHTML }}
<section id="publications">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text">
        <div class="text-center">
          <h2 class="section-heading">{{ with .Site.Params.publications.title }}{{ . }}{{ end }}</h2>
        </div>
      </div>
    </div>
    {{ range .Site.Params.publications.row }}
      <div class="row">
        <div class="publications-list">
          <div class="col-xs-4 vcenter flexbox{{ if .Site.Params.publications.center }} flexbox-center{{ end }}">
            {{ $url := printf "img/publications/%s" .img }}
            <img src="{{ $url | absURL }}" class="img-rounded" alt="{{ .name }}">
          </div>
          <div class="col-xs-8 vcenter">
            <h3>{{ .title | markdownify }}</h3>
            <h4>{{ .authors | markdownify }}</h4>
            <h4>{{ .conference | markdownify }}</h4>
            <ul class="list-inline">
              {{ range .links }}
              <li><a href="{{ index . 0 }}" class="btn btn-primary btn-md active">{{ index . 1}}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</section>
