{{ "<!-- Teaching -->" | safeHTML }}
<section id="teaching">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text">
        <div class="text-center">
          <h2 class="section-heading">{{ with .Site.Params.teaching.title }}{{ . }}{{ end }}</h2>
        </div>
      </div>
    </div>
    {{ range .Site.Params.teaching.row }}
      <div class="row">
        <div class="teaching-list">
          <div class="col-xs-4">
            <h4>{{ .time | markdownify }}</h4>
          </div>
          <div class="col-xs-8">
            <h4>{{ .content | markdownify }}</h4>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</section>
